<!DOCTYPE html>
<html>
	<head>
		<title>Mined Minds Tic Tac Toe</title>
		<link rel="stylesheet" href="css/main-style.css">
	</head>
	<body>
		<header>
			<a href="index.html">
				<img class="header-image" src="img/mm.png" alt="header image">
			</a>
			<div class="greeting">
				<span>Welcome to Mined Minds Tic Tac Toe!</span>
			</div>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="rules.html">Tic Tac Toe Rules</a></li>
					<li class="youarehere"><a href="http://localhost:4567/tictactoe">Play Tic Tac Toe</a></li>
					<li><a href="http://www.minedminds.org" target="new">Minedminds.org</a></li>
				</ul>
			</nav>
		</header>
		<section>
			<h3>Lets play Tic Tac Toe!</h3>
			<table>
				<tr>
					<td class="br"><%=board[0]%></td><td class="br"><%=board[1]%></td><td class="b"><%=board[2]%></td>
				</tr>
				<tr>
					<td class="br"><%=board[3]%></td><td class="br"><%=board[4]%></td><td class="b"><%=board[5]%></td>
				</tr>
				<tr>
					<td class="r"><%=board[6]%></td><td class="r"><%=board[7]%></td><td><%=board[8]%></td>
				</tr>
			</table>
			<p class="tictactoe">Do you want to play a:
				<br>
				<span class="one">1 player game v.s. the computer
				</span>
				<br>
				<span class="two">2 player game v.s. another person
				</span>
			</p>
			<form action="/tictactoe" method="POST">
				<input type="radio" name="GameType" value="1">  1 Player Game
				<br>
				<input class="2p" type="radio" name="GameType" value="2">  2 Player Game
				<br>
				<input type="submit" name="submit" value="Submit">
			</form>
			<p>
				<span class="red"><%=error%></span>
			</p>
		</section>
		<footer>
		&copy; 2015 Mined Minds
		</footer>
	</body>
</html>
Status API Training Shop Blog About Pricing
© 2015 GitHub, Inc. Terms Privacy Security Contact Help