<!DOCTYPE html>

<head>
<link rel="stylesheet" href="/style.css">

</head>
<p><img src="TTTbanner.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
    <area alt="" title="" href="http://minedminds.github.io/" shape="poly" coords="80,6,386,5,390,44,83,45" />
    <area alt="" title="" href="/Home" shape="poly" coords="67,53,129,53,129,81,71,81" />
    <area alt="" title="" href="/tictactoe" shape="poly" coords="135,53,252,56,254,74,136,77" />
    <area alt="" title="" href="/rules" shape="poly" coords="261,51,336,52,332,76,270,78" />
    <area alt="" title="" href="/info" shape="poly" coords="343,52,393,53,398,76,354,74" />
</map></p>
<body bgcolor="green">
<div>
<br>
<img src="/mm.png">

<p style="color:blue"><b>
<br><%=message%></b></p>
<br><br>
<table> 
 <tr>
  <td class="br"><%=board[0]%></td><td class="br"><%=board[1]%></td><td class="b"><%=board[2]%></td>
 </tr><tr>
  <td class="br"><%=board[3]%></td><td class="br"><%=board[4]%></td><td class="b"><%=board[5]%></td>
 </tr><tr>
  <td class="r"><%=board[6]%></td><td class="r"><%=board[7]%></td><td><%=board[8]%></td>
 </tr>
</table>
<br><br>

<form action="/marker" method="POST">
				<select id="LevelSelect" name="level">
					<option value="simple">Choose</option>
					<option value="easy">Easy</option>
					<option value="mild">Mild</option>
					<option value="simple">Simple</option>
					<option value="medium">Medium</option>
					<option value="hard">Hard</option>
					<select>
				<input type="submit" name="submit" value="submit" id="LevelSelect">
</form>


			